.firstContainer {
    width: 80%;
    background-color: #171717;
    display: flex;
    margin: auto;
}

h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    padding-bottom: 10px;
}

.assistance {
    padding-inline: 50px;
    padding-block: 50px;
    max-width: 40%;
}

.contacts {
    margin-left: auto;
    padding-inline: 50px;
    padding-block: 50px;
    max-width: 50%;
}

button {
    width: auto;
}
