.firstContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #23272F;
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    margin: 4vh auto;
    padding: 3%;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: wrap;
}

.assistance {
    padding: 2%;
    max-width: 45%;
    min-width: 250px;
    color: aqua;
}

.contacts {
    padding: 2%;
    max-width: 45%;
    min-width: 250px;
    color: aqua;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #eaeaea;
}

button {
    width: 80%;
    max-width: 250px;
    height: 45px;
    color: #23272F;
    background-color: aqua;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .firstContainer {
        flex-direction: column;
        align-items: center;
        width: 85%;
        padding: 5%;
    }

    .assistance,
    .contacts {
        max-width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;

    }

    button {
        width: 100%;

        height: 40px;

    }
}
