header {
    background: #23272F;
}

.header-items-container {
    width: 90%;
    display: flex;
    margin-inline: auto;
}

ul {
    display: flex;    
}

li {
    margin-inline: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#other-btns a:hover {
    border: red 2px solid;
    border-radius: 20px 20px;
}

li a {
    color: aqua;
    text-decoration: none;
    text-transform: capitalize;
}

#other-btns a {
    border: transparent 2px solid; /*per evitare lo scatto di quando ci si passa sopra*/
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
}


/* logo */
#logo {
    will-change: filter;
    transition: filter 300ms;
    padding-block: 15px;
}


#logo-container #logo:hover {
    filter: drop-shadow(#61dafb55 -1px -1px 8px) drop-shadow(#61dafb55 1px -1px 8px) drop-shadow(#61dafb55 -1px 1px 8px) drop-shadow(#61dafb55 1px 1px 8px);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
@media (prefers-reduced-motion: no-preference) {
    #logo {
        animation: logo-spin infinite 20s linear;
    }
}

#other-btns {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 10px;
}