header {
    background: #23272F;
}

.header-items-container {
    width: 90%;
    display: flex;
    margin-inline: auto;
}

ul {
    display: flex;    
}

li {
    margin-inline: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li > *{
    color: aqua;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.linkTag {
    text-decoration: none;
}

#other-btns li a:hover {
    background-color: rgb(45, 49, 57);
}



#other-btns li a {
    border-radius: 20px 20px;
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
}


/* logo */
#logo {
    will-change: filter;
    transition: filter 300ms;
    padding-block: 15px;
}


#logo-container #logo:hover {
    filter: drop-shadow(#61dafb55 -1px -1px 8px) drop-shadow(#61dafb55 1px -1px 8px) drop-shadow(#61dafb55 -1px 1px 8px) drop-shadow(#61dafb55 1px 1px 8px);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
@media (prefers-reduced-motion: no-preference) {
    #logo {
        animation: logo-spin infinite 20s linear;
    }
}

#other-btns {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 10px;
}