.container{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 30px;
    background-color: #23272F;
    width: 600px;
    min-height: 570px;
}


.second-container{
    width: 80%;

}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 3%;
}


.text{
    color: aqua;
    font-size: 48px;
    font-weight: 700;
}


.underline{
    width: 48px;
    height: 6px;
    background-color: aqua;
    border-radius: 9px;
}


.inputs{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 6px;
}


.input input{
    margin: 0px 40px;
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 24px;
}


.forgot-password{
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    
}


.forgot-password span{
    color: aqua;
    cursor: pointer;
}


.forgot-password span:hover{
    text-decoration: underline;
}


.submit-container{
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 15px;
}


.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:#23272F;
    background-color: aqua;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}


.gray{
    background: #eaeaea;
    color: #676767
}










