name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Install sshpass
      run: sudo apt-get install -y sshpass

    - name: Copy files to server
      run: |
        sshpass -p "${{ secrets.USER_PASSWORD }}" ssh -o StrictHostKeyChecking=no -p "${{ secrets.SSH_PORT }}" ${{ secrets.USER }}@${{ secrets.SERVER_IP }} "mkdir -p ${{ secrets.PATH }}"
        sshpass -p "${{ secrets.USER_PASSWORD }}" rsync -avz --delete -e "ssh -p ${${{ secrets.SSH_PORT }}}" ./ ${{ secrets.USER }}@${{ secrets.SERVER_IP }}:${{ secrets.PATH }}